/* 
EXAMPLE 

 $colorName: #HexCode  //Describe color and define what the color is used for (i.e. links and headers)
*/

$powder-blue: rgb(144, 183, 202);

$primary-color: rgb(240, 84, 22);




$retro-colors: (
  "1": #c19435,
  "2": #bb6a35,
  "3": #bb5a42,
  "4": #b06571,
  "5": #8d6076,
  "6": #6e7581,
);

// *********************
// Font-Variables
// *********************

$font-weight: (
  "very-light": 100,
  "light": 300,
  "regular": 400,
  "bold": 500,
  "temp": 700,
  "very-bold": 900,
);
