.test {
  border: black 2px solid;
  padding: 3rem;
  box-shadow: rgb(144, 183, 202) .5rem .5rem;
}
.half-color{
  position: absolute;
  width: 600px;
  height: 500px;
  z-index:-1;
  background-color: rgb(144, 183, 202) ;
}

.noise {

  background:  url('./grain.svg');
filter: contrast(150%);
}

.overlay {
  /* ... */
  background: rgb(53, 32, 137);
  mix-blend-mode: difference;
}

.isolate {
  isolation: isolate;
  /* ... */
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.intro-title {
  font-size: 4rem;

  font-weight: 700;
}

.intro-tagline {
  font-weight: 700;
}

.icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  &:hover {
  }
}

.resume-btn {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
}
