#navbar {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .custom-nav {
    width: 100%;
    left: 0;
    background: linear-gradient($background-color, transparent 75%);
    z-index: 50;
  }

  .brand {
    font-weight: map-get($font-weight, "very-bold");
    color: $primary-color;
  }

  .contact-link {
    font-weight: map-get($font-weight, "very-bold");
    color: $base-color;
  }

  .nav-pic {
    height: 50px;
  }

  .logo {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .top {
    top: 0px;
  }

  .down {
    top: -80px;
  }

  .up {
    top: 0px;
  }

  .up,
  .down {
    background: rgba(0, 255, 242, 0.363);
    box-shadow: 0px 0px 5px black;
    padding: 8px;
  }
}
