.custom-nav {

  width: 100%;
  left: 0;
  background: linear-gradient($background-color , transparent 75%) ;
  z-index: 50;
}

.brand {
  font-weight: map-get($font-weight, "very-bold");
  color: $primary-color;

}

.contact-link {
  font-weight: map-get($font-weight, "very-bold");
  color: $base-color;
}

.nav-pic {
  height: 50px;
}

.logo {
  background-image: url("../../assets//PNGs/Grad_07.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
