#intro {
  margin: 0;
  background-image: url("../../assets/layered-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;

  p {
    text-align: left;
  }
  svg {
  }
  img {
    @media (min-width: 576px) {
      width: 80%;
    }
    width: 30%;
  }
  .large {
    color: $primary-color;
  }
  .arrow {
    position: relative;
    bottom: 50px;
  }

  .intro-content {
    min-height: 90vh;
    margin-top: 10vh;
  }


}
