#about {
  color: white;
  background-color: #02223b ;
  background: linear-gradient( transparent, rgba(0, 0, 0, 0.4) );
  .about {

  }
  .title-wrapper {
  }

  a {
  }
  .about-me-title {
    white-space: nowrap;
    color: white;
  }

  .about-me-info {
  }
  .skills-list {
    list-style: none;
    border-bottom: 1px solid $base-color;
    border-top: 1px solid $base-color;


  }
  li {
    font-weight: map-get($font-weight, "bold");
    font-size: $fs-xl;
    &::before {
      content: "";
    }
  }
  .skill-name {

  }
  .tech {


  }

  /* h3:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px #fff;
  position: relative;
  left: 1%;
  top: 50%;
  z-index: 1;
} */

  .tech-container {

  }
}
