#about {
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid $primary-color;


  .about {
  }

  a {
    color: white;
  }
  .about-me-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    white-space: nowrap;
    color: white;
  }

  .about-me-info {
  }
  .skills-list {
    list-style: none;
  }
  li {
    font-weight: map-get($font-weight, "light");
    font-size: $fs-xl;
    &::before {
      content: "";
    }
  }

  .tech-intro {
  }

  /* h3:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px #fff;
  position: relative;
  left: 1%;
  top: 50%;
  z-index: 1;
} */

  .tech-container {

  }
}
